<header>
        <div><img class="header-logo" src="/images/logo.svg" alt=""></div>
     
        <button class="responsive-menu-btn"></button>
        
    </header>
    <nav class="nav-responsive">
        <ul>
            <li> <a href="{{ path('index') }}">Accueil</a></li>
            <li><a href="{{ path('carte') }}">La carte</a></li>
            <li><a href="{{ path('event') }}">Calendrier</a></li>
            
        </ul>
    </nav>